@font-face {
  font-family: 'Lato';
  font-weight: 400;
  src: url('~@/assets/fonts/Lato-Regular.ttf');
}

@font-face {
  font-family: 'RobotoMono';
  src: url('~@/assets/fonts/RobotoMono-Light.ttf');
  font-weight: 200;
}